@font-face {
  font-family: ACaslonPro;
  src: url("../fonts/fonttheboxtitulares/ACaslonPro-Regular.otf") format("opentype");
}
*{
  font-family: ACaslonPro;
}
#section1{
  background-image: url('../images/imagenhome.gif');
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  font-family: ACaslonPro;

}
.section{
  color:white;
}
a{
  color:white;
}
h1 {
  font-size: 80px;
}
h2{
  font-size: 60px;
}
h3{
  font-size: 30px;
}
#header{
  position:fixed;
  height: 60px;
  display:block;
  width: 100%;
  background: black;
  z-index:9;
  text-align:center;
  color: white;
  padding: 0 0 0 0;
}

.galeria img{
  max-height: 350px;
}
.logo{
  float:left;
  width:80px;
}

.dropdown-button{
  padding-top: 20px;
  float:right;
  padding-right: 20px;
}

#nosotros-{
  color:grey;
}
.trabajo{
  padding:10px 0;
  margin:0 ;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}



.gastro{
  background-color: #ffa745;
  float:left;

}

.personal{
  background-color: #373737;
  float:right;
}

.retail{
  background-color: #ffa745;
  float:left;
}

.branding{
  background-color: #373737;
  float:right;
}


.icons img{
  height: 80px;
}
#form{
  float:left;
}
#contacto{
  float:right;
}
.socialicons i{
  font-size: 22px;
}
.proceso img{
  padding:0 20px;
  width:300px;
}
.foto-gastro:hover{
  content: url('../images/galeria/gastro/gstr2.jpg');

}
.foto-personal:hover{
  content: url('../images/galeria/personal/prs1.jpg');

}
.foto-retail:hover{
  content: url('../images/galeria/retail/retail1.jpg');

}
.foto-branding:hover{
  content: url('../images/galeria/branding/br3.jpg');

}

.foto img{

  width: 100%;
  height: 300px;

}
.imagencontact {
  width:100%;
  height:620px;
  margin: -11px 0 0 -11px;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
  background-color: white;
  color:black
}
textarea{
  background-color: white;
  color:black
}
.hidden{
  display:none;
}
