#section1{
  background-image: url('../images/imagenhome.gif');
  background-repeat: no-repeat;
  background-size: cover;
  color:white;

}
.section{
  color:white;
}
a{
  color:white;
}
h1 {
  font-size: 80px;
}
h2{
  font-size: 60px;
}
h3{
  font-size: 30px;
}
#header{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: black;
		z-index:9;
		text-align:center;
		color: white;
		padding: 20px 0 0 0;
	}
.galeria h2{
  padding-top: 0;
}
.logo-gal{
  padding-top: 30px;
}
.dropdown-button{
  float:right;
  padding-right: 20px;
}
#nosotros-{
  color:grey;
}
.trabajo{
  padding:0;
  margin:0;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.trabajoimg img{
  width:10px;
}
.gastro{
  background-color: #e6b900;
  float:left;
}

.personal{
  background-color: #252525;
  float:right;
}

.retail{
  background-color: #e84a92;
  float:left;
}

.branding{
  background-color: #3cc8b5;
  float:right;
}


.icons img{
  height: 80px;
}
#form{
  float:left;
}
#contacto{
  float:right;
}
.socialicons i{
  font-size: 22px;
}
.proceso img{
  padding:0 20px;
  width:300px;
}
.imageneschicas img{
  padding-top: 50px;
  width:35px;
  font-size: 16px;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
  background-color: white;
  color:black
}
textarea{
  background-color: white;
  color:black
}
